.navbartext {
    color: white !important;
	font-weight:700;
}
.navbartext:hover{
	color:black !important;
	background:white;
}

.nav-button{
	background-color:#097512;
	width: 100%;
	margin: auto;
	margin-top: 2px;
}

.nav-button-text{
	color: white;
	font-size: 120%;
	font-weight: bold;
}