/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: -20px;
    position: auto;
    height: 100%;
    min-height: 100%;
}


#wrapper.toggled {
    padding-left: 140px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    height: 100%;
    min-height: 100%;
    left: 140px;
    width: 0;
    margin-left: -140px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: rgb(255,255,193);
}

#wrapper.toggled #sidebar-wrapper {
    width: 140px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -140px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 140px;
    margin: 0;
    padding: 0;
    list-style: none;
	color:black;
	font-weight:700;
	
	
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: black;
}

.sidebar-nav li a:hover {
    
    color: gray;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 140px;
        position: relative;
        height: auto;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        height: 100%;
        width: 140px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        width: 100% !important;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        width: 100%;
    }
}