head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags 

    // Bootstrap 
    link(href="/style/vendor/bootstrap.min.css" rel="stylesheet")

    // style 
    block style
        link(href="/style/navbar.css" rel="stylesheet")
        link(href="/style/sidebar.css" rel="stylesheet")

    // Meta 
    title Sito Pokémon
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(name="author" content="Me")
    meta(name="copyright" content="")
    //meta(name="DC language" content="ita" scheme="RFC1766")
    meta(name="robots" content="all")
