// Sidebar 
#sidebar-wrapper
    ul.sidebar-nav
        li #[a(href="/Home") Home]
        li #[a(href="/edit_page?pageName=#{thisPage}") Modifica]
        li #[a(href="#") Pagina a caso]
        li #[a(href="#") About us]
        li #[a(href="#") Contattaci]