include ../../templates/table_stat.jade
include ../../templates/pokemon_set.jade

extend ../../templates/basePage

block append style
    link(href="/style/stat_table.css" rel="stylesheet")
    link(href="/style/roundy.css" rel="stylesheet")

block content
    h1(style="text-align:center;")  #[big Alakazam]
    img.hidden-xs(style="width:50%; margin:5px; float:right;" src="/images/Alakazam.png" alt="")
    h2 Info sul Pokémon:

    +table_stat(55,50,45,135,95,120,'F99CB8','F85888')

    br
    div(style="font-size:120%")
        p Alakazam è un attaccante speciale veloce di tipo Psico con 135 di SpA e 120 di Vel, classificato OU.
        br
        h3 #[big Proposta principale:]
        br
        +pset('Alakazam','Assorbisfera','Magiscudo','4 Dif','252 SpA','252 Vel','Timida','Psichico','Focalcolpo','Palla ombra','Introforza (Ghiaccio)/Provocazione/Sostituto')
        p Psichico è preferito a Psicoshock per la maggior potenza base e per poter colpire alcuni attaccanti fisici come Conkeldurr e Garchomp. Focalcolpo permette di colpire i Pokémon di tipo Buio, immuni a Psichico, e i Pokémon accaio. Palla ombra consente di uccidere altri Pokémon Psico ed eliminare in un colpo solo gli Spettro che sono un problema per Alakazam. Introforza Ghiaccio è utile per abbattere alcuni Pokémon come Gliscor o Landorus in un colpo solo. Provocazione serve contro alcuni Pokémon basati su mosse di Stato che non eludiamo grazie a Magiscudo. Sostituto può essere usato sui cambi avversari per fornire due turni "sicuri" ad Alakazam. L'assorbisfera aumenta del 30% i danni, permettendo di uccidere un gran numero di attaccanti nemici in un colpo solo. #[br] In questo set Alakazam occupa il ruolo di ripulitore del team avversario, che nelle fasi finali della partita non riesce a fermarlo. Può essere usato in combo con Retromarcia o Invertivolt per facilitare il suo ingresso in campo. Grazie alla sua abilità non teme i danni indiretti, cosa che rende molto difficile fermarlo e gli consente di entrare su molti Pokémon che usano mosse di Stato.
        br
        h3 #[big Seconda proposta:]
        br
        +pset('Alakazam','Focalnastro','Magiscudo','4 Dif','252 SpA','252 Vel','Timida','Psichico','Focalcolpo','Introforza (Ghiaccio)/Palla ombra','Tuononda')
        p In questa variante Alakazam rinuncia all'assorbisfera ma ottiene un turno aggiuntivo grazie a focalnastro e alla sua abilità. Tuononda permette di rallentare gli attaccanti avversari e renderli facili bersagli. A causa dei danni inferiori Alakazam non copre più il ruolo di ripulitore e grazie alla possibilità di avere un secondo turno con focalnastro può entrare su molti nemici anche nelle prime fasi della partita.
        br
        h3 #[big Counter:]
        br
        p Alakazam deve evitare alcuni Pokémon come Mandibuzz che non riesce ad eliminare in un colpo solo e che possono ucciderlo con Sbigoattacco. Deve anche evitare Scizor e Tyranitar che con Inseguimento possono intrapporarlo e ucciderlo in seguito. Anche alcune mosse ad alta priorità come Pugnoscarica o Geloscheggia possono essere un problema e non bisogna dimenticare la stolascelta che consente a molti Pokémon di superare in velocità Alakazam.