block vars

doctype html
html(lang="it")
    include ./head.jade
    
    body    
        include ./navbar.jade

        // Sidebar e contents 
        #wrapper
            include ./sidebar.jade
            
            // Page Content 
            #page-content-wrapper
                .container-fluid
                    .row
                        .col-lg-12
                            block content
        
        include ./footer

        block scripts
            // jQuery (necessary for Bootstrap's JavaScript plugins) 
            script(src="#{path}script/vendor/jquery.min.js")
            // Include all compiled plugins (below), or include individual files as needed 
            script(src="#{path}script/vendor/bootstrap.min.js")
            // Scripts for sidebar 
            script(src="#{path}script/sidebar.js")