// Footer 
footer(id="footer" class="hidden-xs")
    // Separatore 
    div(style="height: 5px;")
    // Linea verde 
    div(style="bottom: 0; height: 2px; width: 90%; margin: auto; background-color: #097512;")
    div(Style="text-align: center;")
        a(href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.it") copyright
    // Linea invisibile 
    div(style="bottom: 0; height: 10px; width: 90%; margin: auto;")