// Sidebar 
#sidebar-wrapper
    ul.sidebar-nav
        li #[a(href="#{path}index.html") Home]
        li #[a(href="#") Pagina a caso]
        li #[a(href="#") About us]
        li #[a(href="#") Contattaci]