block vars
    - var path = '../'

extend ../templates/basePage

block content
    h2(align="left") Elenco dei Pokémon
    p Ricerca:
    .form-group
        input(type="text" class="form-control" id="dex_search" placeholder="Search")
    #pokemon-list
        ul(class="list")

block append scripts
    // Include listjs 
    script(src="#{path}script/vendor/listjs.js")
    // Scripts for search pokédex 
    script(src="#{path}script/search_dex.js")

block append style
    link(href="#{path}style/dexList.css" rel="stylesheet")