<!-- Footer -->
    <footer id="footer" class="hidden-xs" style="background: white;">
        <!-- Separatore -->
        <div style="height: 5px;"></div>
        <!-- Linea verde -->
        <div class="navbartext" style="bottom: 0; background-color: #097512; height: 2px; width: 90%; margin: auto;">
            <!-- Contenuti all'interno del verde (eventualmente nessuno, ci sta anche solo una riga di separazione) -->
        </div>
        <div style="text-align: center;">
			<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.it">copyright</a>
        </div>
		<!-- Linea invisibile -->
        <div class="navbartext" style="bottom: 0; height: 10px; width: 90%; margin: auto;"></div>
    </footer>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{[path]}bootstrap/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{[path]}bootstrap/js/bootstrap.min.js"></script>
    <!-- Scripts for sidebar -->
    <script src="{[path]}script/sidebar.js"></script>