<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link href="{[path]}style/vendor/bootstrap.min.css" rel="stylesheet">
		
    <!--style-->
	<link href="{[path]}style/navbar.css" rel="stylesheet" >
    <link href="{[path]}style/sidebar.css" rel="stylesheet" >
    <link href="{[path]}style/stat_table.css" rel="stylesheet" >
    <link href="{[path]}style/roundy.css" rel="stylesheet" >
    
    <!-- Meta -->
    <title>Compito Vacanze Sito Pokémon</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="copyright" content="">
    <meta name ="copyright" content="">
    <meta name ="DC language" content="ita" scheme="RFC1766">
    <meta name ="robots" content="all">
</head>
